<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoundRecorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SoundRecorder.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SoundRecorder.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SoundRecorder.Properties.Settings>
            <setting name="inputDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="writeDir" serializeAs="String">
                <value />
            </setting>
            <setting name="mainWindow_width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainWindow_height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainWindow_state" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="writeCodec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mainWindow_defaultWidth" serializeAs="String">
                <value>560</value>
            </setting>
            <setting name="mainWindow_defaultHeight" serializeAs="String">
                <value>555</value>
            </setting>
            <setting name="bitrate" serializeAs="String">
                <value>192000</value>
            </setting>
        </SoundRecorder.Properties.Settings>
        <SoundRecorder.Settings>
            <setting name="inputDevice" serializeAs="String">
                <value />
            </setting>
        </SoundRecorder.Settings>
        <SoundRecorder.Settings1>
            <setting name="InputDevice" serializeAs="String">
                <value />
            </setting>
        </SoundRecorder.Settings1>
    </userSettings>
</configuration>